[submodule "sadx-mod-loader"]
	path = sadx-mod-loader
	url = https://github.com/sonicretro/sadx-mod-loader.git
[submodule "d3d8to11"]
	path = d3d8to11
	url = https://github.com/michael-fadely/d3d8to11.git
