[submodule "sadx-mod-loader"]
	path = sadx-mod-loader
	url = https://github.com/sonicretro/sadx-mod-loader.git
[submodule "sadx-d3d11"]
	path = sadx-d3d11
	url = https://github.com/michael-fadely/sadx-d3d11.git
